<div class="supporter-list">
    <p class="text-muted">podTo is supported by</p>
    <ul>
        <li>
            <a href="https://podiant.co/" target="_blank" title="Podiant">
                <img src="{{ SITEURL }}/images/supporters/podiant.svg" alt="Podiant">
            </a>
        </li>

        <li>
            <a href="https://podcastadvocate.network/" target="_blank" title="Podcast Advocate Network">
                <img src="{{ SITEURL }}/images/supporters/pan.svg" alt="Podcast Advocate Network">
            </a>
        </li>

        <li class="you">
            <a href="mailto:joinus@podto.org">You?</a>
        </li>
    </ul>
</div>

<p class="copyright text-muted">
    The blog is powered by
    <a href="http://getpelican.com">Pelican</a>
</p>
